<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="florakb-content">

        <h3>Pengaturan Kewenangan Grup</h3>
        <div class="wizard">
            <a class="current"><span class="badge">1</span> Pilih Grup</a>
            <a><span class="badge">2</span> Atur Keweangan Grup</a>
        </div>
        <div class="panel panel-default">   
        <div class="panel panel-body">
        <form class="form-horizontal" action="{$basedomain}group_admin/actGroup" method="post">
            {include file="file:$rootpath/app/view/group_admin/choose-group.html"}


        </form>

   </div>
    </div>
        
        
    </div>
</div>