<div class="alert alert-info text-center">Silakan pilih data yang dapat diisi oleh grup {$nmGroup}</div>
        <input type="hidden" value="{$idGroup}" name="idGroup" >
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label for="using" class="col-sm-6 control-label">Plot/Set</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="inp[]" value="1" {$input[1]}>
                        </label>
                      </div>
                </div>
            </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Tag/Nomor Seri</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="2" {$input[2]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Lokasi</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="3" {$input[3]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Sumber daya yang digunakan</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="4" {$input[4]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Catatan 1</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="5" {$input[5]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Famili</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="6" {$input[6]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Person</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="7" {$input[7]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Keyakinan Determinasi</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="8" {$input[8]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Microhab</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="9" {$input[9]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Habit</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="10" {$input[10]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-6">
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Dbh</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="11" {$input[11]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Height</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="12" {$input[12]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Bud</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="13" {$input[13]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Bunga</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="14" {$input[14]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Buah</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="15" {$input[15]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Nama Lokal</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="16" {$input[16]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Catatan 2</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="17" {$input[17]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">File Gambar</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="18" {$input[18]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Bagian Tanaman</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="19" {$input[19]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
            <div class="form-group">
                            <label for="using" class="col-sm-6 control-label">Catatan 3</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="inp[]" value="20" {$input[20]}>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-6 text-center">
      <button type="submit" class="btn florakb-btn">Submit</button>
    </div>
</div>